*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: gray;
    display: grid;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    "item1 item1 . . . ."
    ". . . . . ."
    "item2 item2 . . . ."
    "item2 item2 . . . ."
    "item3 item3 . . . ."
    "item4 item4 . . . ."
    ;
}


.item_1{
    color: white;
    font-size: 4vw;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: end;
    grid-area: item1;
}






.item_2{
    grid-area: item2;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.menu {
    width: 30vw;
    border-radius: 5px;
}

.ul_links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.li_links {
}

.menuVertical {
    margin-bottom: 5px;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 1.5vw;
}

.menuVertical:hover,
.menuVertical.active {
    background-color: aquamarine;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.589);
}
.menuVertical.active{
    font-size: 1.5vw;
}







.item_3{
    grid-area: item3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
}
.item_3 li, a{
    color: white;
    list-style: none;
    text-decoration: none;
    font-size: 1.5rem;
}
.menucarrito{
    width: 25vw;
}
.carrito{
    text-decoration: none;
    color: white;
}
.carrito:hover{
    background-color: aquamarine;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.589);
}




.item_4{
    grid-area: item4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.item_4 p{
    font-weight: bold;
}