@import url(style.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color:#1e1d2b;
}
#section_1{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background-color:#1e1d2b;
    grid-template-areas: 
    " logo . menue menue"
    " enc enc img img"
    " enc enc img img"
    ". . img img"
    ;
}



.item_1{
    color: #ff702a;
    grid-area: logo;
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    width: 100%;
    height: 90%;
}
.item_1 h1{
    font-size: 6vh;
    font-weight: normal;
}




.item_2{
    grid-area: menue;
    display: flex;
    justify-content: center;
    margin-top: 6vh;
}  
.menu li {
    display: inline;
}
.menu a{
    padding: 2.5vh;
    color: white;
    text-decoration: none;
    list-style: none;
    font-size: 3vh;
}
a:hover{
    color:#ff702a;
}





.item_3{
    margin-top: 10%;
    margin-left: 30%;
    grid-area: enc;
    display: flex;
    justify-content: center;
    align-items:start ;
    flex-direction: column;
}
.titulo3{
    color: #ff702a;
    font-size: 10vh;
    font-weight: bold;
}
.content3{
    color: white;
    font-weight: normal;
    font-size: 4vh;
}
.boton{
    padding: 2% 7%;
    margin-top: 5%;
    color: white;
    background-color:#ff702a ;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size:2.5vh;
    cursor: pointer;
}
.boton:hover{
    color: #ff702a;
    background-color: white;
}




.item_4{
    grid-area: img;
    display: flex;
    justify-content: center;

}
.img img{
    width: 100%;
    height: 90%;
    object-fit: contain;
}




#section_2{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background-color:#1e1d2b;
    grid-template-areas:
    ". ."
    "img2 cont2"
    "img2 cont2"
    "img2 cont2"
    "img2 cont2"
    ". ."
    ;
}

.item_5{
    grid-area: img2;
    display: flex;
    justify-content: center;
}
.item_5 .imgsection2{
    max-height: 100%;
    object-fit: contain;

}




.item_6{

    margin-top: 4%;
    grid-area: cont2;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 15px;
    max-width: 80%;
}
.item_6 h3{
    color:#ff702a ;
    font-weight: normal;
    font-size: 4.5vh;
}
.item_6 h1{
    color: white;
    font-size: 7vh;
}
.item_6 p{
    color: white;
    font-size: 3.5vh;
}
.item_6 .boton2{
    padding: 2%;
    width: 30%;
    margin-top: 3%;
    color: white;
    background-color:#ff702a ;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size:2.5vh;
    cursor: pointer;
}
.boton2:hover{
    color: #ff702a;
    background-color: white;
}



#section_3{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    background-color:#1e1d2b;
    grid-template-areas: 
    "tit3"
    "tit3"
    "cuadros"
    "cuadros"
    "cuadros"
    "cuadros"
    "."
    ;
}

.item_7{
    margin-top: 4%;
    grid-area: tit3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item_7 h3{
    color: #ff702a;
    font-weight: normal;
    font-size: 3.5vh;
}
.item_7 h1{
    color: white;
    font-size: 8vh;
}





.item_8{
    grid-area: cuadros; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.item_8 .cuadroCentro, .cuadro{
    width: 45vh; 
    height: 45vh; 
    background-color: #f0f0f0; 
    border: 2px solid #333; 
    border-radius: 10px; 
    margin-left: 3vh;
    margin-right: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    object-fit: contain;
}

.item_8 .imgItem7{
    margin-top: 1vh;
    width: 25vh; 
    height: 25vh;

}

.item_8 .cuadro h1, h3, p,
.cuadroCentro h1, h3, p{
    font-weight: normal;
}

.item_8 .cuadro h1,
.cuadroCentro h1 {
    font-size: 3.5vh;
}
.item_8 .cuadro h3,
.cuadroCentro h3 {
    font-size: 2.6vh;
}
.item_8 .cuadro  p,
.cuadroCentro p {
    color: #ff702a;
    font-size: 2.7vh;
}





#section_4{
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    background-color:#1e1d2b;
    grid-template-areas: 
    "tit4"
    "tit4"
    "img4"
    "img4"
    "img4"
    "img4"
    "img4"
    ;
}

.item_9{
    grid-area: tit4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.item_9 h3{
    color: #ff702a;
    font-size: 3.5vh;
}
.item_9 h1{
    color: white;
    font-size: 7vh;
}


.item_10{
    grid-area: img4;
    display: flex;
    justify-content: center;
}
.containerImg4, .containerCentroImg4{
    width: 45vh; 
    height: 54vh; 
    margin-left: 5vh;
    margin-right: 4vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.item_10 .img10{
    margin: 1vh;
    width: 35vh; 
    height: 35vh;
}
.item_10 h3{
    color: #ff702a;
    font-weight: bold;
    font-size: 3vh;
    margin-bottom: 1.5vh;
}
.item_10 p{
    color: white;
    font-size: 3vh;
}





#section_5{
    width: 100%;
    height: 80vh;
    background-color:#1e1d2b;
    display: flex;
    justify-content: center;
    align-items: center;

}


.item_11 .containerInfo{
    width: 150vh;
    height: 50vh;
    background-color: #ffefe8; 
    border: 4px solid #333333a1; 
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.item_11 .containerInfo h1{
    margin-top: 4%;
    font-size: 7vh;
    font-weight: normal;
}
.item_11 .containerInfo .boton5{
    width: 20vh;
    padding: 1%;
    width: 20%;
    margin-top: 3%;
    color: white;
    background-color:#ff702a ;
    border-radius: 6px;
    font-weight: bold;
    font-size:2.5vh;
    cursor: pointer;
    border-color:#ff702a ;
}

.item_11 .containerInfo .boton5:hover{
    color: #ff702a;
    background-color: white;
}




#section_6{
    width: 100%;
    height: 45vh;
    background-color:#1e1d2b;
}



.item_12 footer{
    display: flex;
    justify-content: center;
}
.item_12 h2{
    color: white;
    font-weight: normal;
    font-size: 5vh;
}
.item_12 ul, a{
    color: white;
    list-style: none;
    text-decoration: none;
    font-size: 3vh;
}
.item_12 .menuServices{
    margin-right:10vh ;
    margin-left: 10vh;
}
.item_12 .contactUs{
    margin-left: 10vh;
}
.item_12 .lineOrange{
    width: 12vh;
    height: 2px;
    background-color:#ff702a;
    margin-bottom: 2.5vh;
}


.icon1{
    display: inline;
    padding: 1.1vh 1.5vh;
    background-color:#ff702a ;
    border-radius: 11vh;
    cursor: pointer;
    margin-right: 1vh;
}
.bx{
    color: white;
    font-size: 2.7vh;

}

.section {
    height: 100vh;
    opacity: 0;
    transition: opacity 0.3s ease; 
}

.section.active {
    opacity: 1;
}




@media (width <=850px){
    #section_1{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        grid-template-areas: 
        " logo "
        " enc "
        " enc "
        " enc "
        " img "
        " img "
        " img "
        ;  
    }
    .item_1{
        grid-area: logo;
        display: flex;
        justify-content: start;
        align-items: end;
    }
    .item_1 h1{
        margin-left: 10px;
        font-weight: bold;
    }
    .item_3{
        grid-area: enc;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .item_3 h1{
        font-size: 3.5rem;
        font-weight: normal;
    }
    .item_3 .boton{
        margin: 0;
        margin-top: 2.5vh;
    }
    .item_3 h3{
        font-size: 1.6em;
    }
    .item_4 {
        grid-area: img ;
    }
    .item_4 .img img {
        width: 90%;
        height: 90%;
    }
    .item_1, .item_3, .item_4 {
        margin: 0;
    }




    #section_2{
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas: 
        ". txt2 txt2 txt2 txt2 txt2"
        ". txt2 txt2 txt2 txt2 txt2"
        ". txt2 txt2 txt2 txt2 txt2"
        ". txt2 txt2 txt2 txt2 txt2"
        ". img2 img2 img2 img2  ."
        ". img2 img2 img2 img2  ."
        ". img2 img2 img2 img2  ."
        ". img2 img2 img2 img2 ."
        ;
    }

    .item_5{
        grid-area: img2;
        align-items: center;
    }
    .item_5 .imgsection2{
        height: 75%;
    }

    .item_6{
        grid-area: txt2;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 0;
    }

    .item_6 h1{
        font-size: 1.6rem;
        margin-bottom: 1.5vh;
    }
    .item_6 h3{
        margin-top: 20px;
        font-size: 1.6rem;
        margin-bottom: 1.3vh;
    }
    .item_6 p{
        font-size: 1.2rem;
        margin-bottom: 1.5vh;
    }
    .item_6 .boton2{
        width: 20vh;
        font-size: 1rem;
    }




    #section_3{
        height: auto;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
        ". cnt3 cnt3 cnt3 ."
        ". cuad cuad cuad ."
        ". cuad cuad cuad ."
        ". cuad cuad cuad ."
        ;
    }
    .item_7{
        grid-area: cnt3;
        margin-top: 10vh;
    }
    .item_7 h1{
        font-size: 2rem;
        font-weight: normal;
        text-align: center;
    }
    .item_8{
        grid-area: cuad;
        display: flex;
        flex-direction: column;
        padding-left: 20%;
        padding-right: 20%;
    }
    .item_8 .cuadroCentro, .cuadro{
        margin-bottom: 3vh;
    }



    #section_4{
        margin: 0;
        height: auto;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        ". cnt4 cnt4 cnt4 ."
        ". item10 item10 item10 ."
        ". item10 item10 item10 ."
        ". item10 item10 item10 ."
        ;
    }
    .item_9{
        grid-area: cnt4;
        text-align: center;
    }
    .item_9 h1{
        font-size: 2rem;
        font-weight: normal;
    }
    .item_10{
        margin: 0;
        grid-area: item10;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .item_10 .img10{
        height: 25vh;
        width: 25vh;
    }
    .item_10 h3{
        font-weight: normal;
    }




    #section_5{
        height: auto;
        align-items: center;
    }
    .item_11{
        width: 85%;
        height: auto;
    }
    .item_11 .containerInfo {
        width: 100%;
        height: 100%;
        padding:  20px;
    }

    .item_11 .containerInfo h1 {
        margin-top: 4%;
        font-size: 5vw; 
    }

    .item_11 .containerInfo .boton5 {
        width: 60%; 
        font-size: 3vw;
    }


    #section_6{
        height: auto;
    }
    .item_12 footer{
        display: flex;
        flex-direction: column;
        margin: 10vh;
    }
    .item_12 h2{
        margin-top: 10vh;
    }
    .item_12 .menulinks h2{
        margin-top: 0;
    }
    .item_12 .menuServices{
        margin: 0;
    }
    .item_12 .contactUs {
        margin-left: 5vh;
    }
    .item_12 .contactUs h2 {
        font-size: 3.5vh;
    }
    .item_12 .contactUs .bx {
        font-size: 1.7vh;
    }
}
